@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html{
  background-color: #16171a;
  font-family: 'Quicksand', sans-serif;
} 

.centered-box {
  float: left; width: 50%; height: 200px; background-color: #0f1012; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2%;
  width: 45%;
  height: 40%;
  padding: 20px;

}

.pfp{
  display: flex;
  align-items: center;
}

.pfp p{
  display: inline-block;
  margin-left: 5%;
  font-size: 300%;
  color: #ff80a4;
}

.pfp img {
  display: inline-block;
  border-radius: 100%;
}

.info{
  font-size:x-large;
  color: #ff80a4;
}

.corner-img {
  width: 60px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}

/* Vertically center the text */
