@import url('https://fonts.googleapis.com/css?family=Google+Sans&display=swap');
:root{
    --title-color: #ff80a4;
    --text-color: #ff2674;
    --background-color: #202124;
  }
.countup {
  text-align: center;
  margin-bottom: 20px;
}
h1,h2{
    color: var(--title-color);
    text-align: center;
}
html{
    background-color: var(--background-color);
}
.countup .timeel {
  display: inline-block;
  padding: 10px;
  background: #151515;
  margin: 0;
  color: white;
  min-width: 2.6rem;
  margin-left: 13px;
  border-radius: 10px 0 0 10px;
}
.countup span[class*="timeRef"] {
  border-radius: 0 10px 10px 0;
  margin-left: 0;
  background: var(--title-color);
  color: black;
}